.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;
}

.img-container{
    display: flex;
    margin: 0 20px 0px 20px;
}

.img-container img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.name-sku-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.name-sku-container .name-container{
    margin-bottom: -30px;

}

.info-buttons{
    display: flex;


}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 600px;
    width: 300px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}
.info-buttons .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .name-sku-container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 20px 0 20px;
        position: static;
    }
    .card{
        display: contents;
    }
    .info-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 20px 0 20px ;
    }

    .info-buttons .left{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rigth .button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .catalogue-link{
        display: none;
    }
  }