a

.image{
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
}

.price{
  color:rgb(54, 68, 30);
  font-weight: 600;
  text-decoration: none;
}