.container {
  min-height: 220px;
  border-radius: 0px;
  position: relative;
  align-items: center;
  margin-bottom: auto;
  padding: 20px;
  max-width: 840px;
  margin-inline: auto;
}

.carru {
  margin-inline: auto;
}
