.container{
  background-color: rgba(91, 205, 91, 0.079);
  width: 100%;
  height: 250px;
  border-radius: 0px;
  position:relative;
  align-items: center;
  margin-bottom: 25px;
  padding-top: 25px;
  
}

.carru{
  width: 70%;
  position:absolute;
  left: 15%;
}