.container{
  
  width: 100%;
  height: 300px;
  border-radius: 0px;
  position:relative;
  align-items: center;
  margin-bottom: auto ;
  padding: 20px ;

  
}

.carru{
  width: 70%;
  position:absolute;
  left: 15%;
}