
.OrderCardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 70%;
    border-radius: 20px;
}

.OrderCardHeader {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.OrderCardProducts {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(173, 216, 230, 0.294);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.OrderCardProduct {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.OrderCardProduct p {
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
}

.OrderCardImage{
grid-area: 1 / 1 / 4 / 2;
}

.OrderCardImage img {
    width: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;

}

.OrderCardName {
    grid-area: 1 / 2 / 2 / 3;
}

.OrderCardColor {
    grid-area: 2 / 2 / 3 / 3;
}

.OrderCardSize {
    grid-area: 3 / 2 / 4 / 3;
}

.OrderCardReview {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.OrderCardTextarea {
    grid-area: 2 / 3 / 4 / 4;
}

.OrderCardTextarea textarea {
    width: 100%;
    height: 100%;
}


.OrderCardFooter {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.OrderCardHeader h4, .OrderCardHeader p, .OrderCardFooter h4, .OrderCardFooter p {
    margin-bottom: 0;
}
