.container {
  display: flex;
  background-color: rgb(0, 0, 0);

  position: relative;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: -50px;
  min-height: 320px;
}

.img {
  display: flex;
  object-fit: cover;
  border-radius: 15px;
  opacity: 0;
  max-height: 100%;
  transition: 400ms;
  position: absolute;
  margin-inline: auto;
}
.loaded {
  opacity: 1;
}

.btnContainer {
  display: flex;
  align-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.buttonPrev {
  background-color: #16161600;
  height: 99.9%;
  padding-left: 15px;
  margin: 0 0px;
  border-radius: 0%;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttonNext {
  background-color: #16161600;
  height: 99%;
  padding-right: 15px;
  margin: 0 0px;
  border-radius: 0%;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translate(-50%, -50%);
}
