.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  border-radius: 30px;
  max-width: 720px;
  flex-wrap: wrap;
}

.estacionesLink {

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.primaveraLink {
  border-bottom-left-radius: 50px;
}

.otoñoLink {
  border-bottom-right-radius: 50px;
}

.primaveraImg {
  border-bottom-left-radius: 50px;
  height: 400px;
  width: 500px;
}

.otoñoImg {
  border-top-right-radius: 50px;
  height: 400px;
  width: 500px;
}

@media only screen and (max-width: 1081px) {
  .container {
    border-radius: 30px;
  }

  .primaveraImg {
    width: 500px;
    height: 200px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
  }

  .otoñoImg {
    width: 500px;
    height: 200px;
    border-top-right-radius: 0px;
    object-fit: cover;
  }

  .estacionesImg {
    width: 500px;
    height: 200px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .estacionesLink {
    border: 0px;
    width: 100%;
  }

  .primaveraLink {
    border: 0px;
  }

  .otoñoLink {
    border: 0px;
  }
}
