.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: relative;
  left: 22%;
  margin-bottom: 5%;
  border-radius: 30px;
}

.estacionesLink{
  
  
  
  width:50%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.primaveraLink{

  
  border-bottom-left-radius: 50px;
}

.otoñoLink{
  
  
  border-bottom-right-radius: 50px;
}

.primaveraImg{
  border-bottom-left-radius: 50px;
  
  height: 400px;
  width:500px;
}

.otoñoImg{
  border-top-right-radius: 50px;
  filter: saturate(0.5);
  height: 400px;
  width:500px;
}


@media only screen and (max-width: 1081px) {
  .container{
    display: block;
    
    justify-content: stretch;
    
    position: relative;
    left: 15%;
    margin-bottom: 5%;
    border-radius: 30px;
  }

  .primaveraImg{
    width: 500px;
    height: 200px;
    border-bottom-left-radius: 0px;
    filter: saturate(3);
    object-fit: cover;
  }
  
  .otoñoImg{
    width: 500px;
    height: 200px;
    border-top-right-radius: 0px;
    filter: saturate(0.5);
    object-fit: cover;
  }
  
  .estacionesImg{
    width: 500px;
    height: 200px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .estacionesLink{
  
    
    border: 0px;
    width:100%;
    
  }
  
  .primaveraLink{
    
    border: 0px;
    
  }
  
  .otoñoLink{
    
    border: 0px;
    
  }
}