.container{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: auto auto;
  justify-content: stretch;
  width: 40%;
  position: relative;
  left: 22.5%;
  margin-bottom: 5%;
  

}

.estacionesLink{
  
  grid-column: 1 / span 2 ;
  border: solid #333 2px;
  width:100%;
  
}

.primaveraLink{
  grid-column: 1;
  border: solid #333 2px;
}

.otoñoLink{
  grid-column: 2;
  border: solid #333 2px;
}

.estacionesImg{
  width: 100%;
}
