
.card {
  height: 25%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 40px;
  background-color: rgba(253, 234, 253, 0.484);
  position: relative;
  margin-top: 40px;
  box-shadow: 11px 13px 7px -9px rgba(175, 49, 49, 0.6);
  transition: box-shadow 250ms;
}

.card:hover{
  box-shadow: inset -13px -15px 11px -5px rgba(107, 0, 0, 0.4);
}

.card p{
  margin: 0;
  padding-bottom: 20px;
  font-size: 1.2em;
  color: rgb(119, 67, 0);
}

.imageContainer img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 300px;
  height:  200px;
  object-fit: cover;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
}

.link{
    text-decoration: none;
}

.title{
  color: rgb(161, 91, 0);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 25px;
}



