.tituloCarru{
  color: #666;
  background-color: rgba(255, 255, 255, 0.662);
  width: 25%;
  position: relative;
  left: 20%;
  transform: translate(-50%);
  border-top-right-radius: 20px ;
  border-top-left-radius: 20px ;
  margin:0px;
  padding-left: 10px;
  text-align: left;
  
}

.tituloSeason{
  color: #666;
  background-color:rgba(255, 255, 255, 0.662);
  width: 25%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-top-right-radius: 20px ;
  border-top-left-radius: 20px ;
  margin:0px;
  margin-top: 50px;
  padding-left: 10px;
  text-align: center;
}