.tituloCarru{
  color: rgb(23, 22, 22);
  
  width: 25%;
  position: relative;
  left: 20%;
  transform: translate(-50%);
  border-top-right-radius: 20px ;
  border-top-left-radius: 20px ;
  margin:0px;
  padding-left: 10px;
  text-align: left;
  font-style: italic;
}

.tituloSeason{
  color: rgb(23, 22, 22);
  font-style: italic;
  text-align: center;
  margin-inline: auto;
}