.container{
  background-color: #333;
  width: 100%;
  height: 100px;
  color: aliceblue;
  margin-top: 50px;
  padding:10px;
  position: relative;
}

.footer-icons{ 
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.social-icons{
  display: flex;
  float: right;
  align-items: center;
  width: 3em;

}

.container ul{
  list-style: none;
  position: absolute;
  right: 5%;
  top:50px;
}
.container li{
  display: inline-block;
  flex-direction: row;
  background-color: aliceblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 1em;
 }

 .Logo{
  height: 40px;
}

.designed{
  height: 40px;
}

.textContainer{
  position: absolute;
  left: 5%
}

@media only screen and (max-width: 850px) {
  .Logo{
    height: 40px;
  }

  .container li{
    height: 40px;
    width: 40px;
   }
}