.container{
  background-color: #333;
  width: 100%;
  height: 100px;
  color: aliceblue;
  margin-top: 50px;
  padding:10px;
  position: relative;
}

.footer-icons{ 
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.social-icons{
  display: flex;
  float: right;
  align-items: center;
  width: 3em;
}

.container ul{
  list-style: none;
  position: absolute;
  right: 5%;
  top:10px;
}
.container li{
  display: inline-block;
  flex-direction: row;
  background-color: aliceblue;
  border-radius: 50%;
  width: 80px;
  height: 80px;
 }

 .igLogo{
  height: 80px;
}

.twLogo{
  height: 80px;
}

.githubLogo{
  height: 80px;
  width:80px;
  
}

.liLogo{
  height: 80px;
}

.designed{
  height: 40px;
}