.container{
  
  display:inline-flex;
  justify-content: space-between;
  
}

.link{
  width: 30%;
  height: 100px;
  margin-bottom: 50px;
}

.liDiv{
 width: 80%;

}

.ghDiv{
  width: 80%;
  
}

.igDiv{
  width:80%;
}