.container{
  display: inline-block;
  background-color: aquamarine;
  width: 40%;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 15px;
  padding: 20px;
}

.codigoQR{
  width: 60%;
  position: absolute;
  transform: translate(-50%);
  bottom: 75px;
}

.gracias{
  
}
