
.card {
  height: 300px;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 40px;
  background-color: rgb(231, 181, 181);
  position: relative;
  margin-top: 40px;
  box-shadow: 11px 13px 7px -9px rgb(223, 60, 60)
}

.card p{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.card h1{
  text-decoration: none;
  font-size: 3px;
  color: black;
}

.card h5{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: black;
}

.imageContainer img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 10vw;
  height: 100px;
  object-fit: cover;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
}

.title{
    text-decoration: none;
    color: rgb(212, 125, 10);
    font-size: 12px;
}

.card button{
  background-color: rgb(245, 9, 9);
  border: solid 1px rgb(255, 219, 178);
  border-radius: 5px;
  padding:2px;
  color: rgb(243, 234, 223);
  margin-top: 5px;
  margin-bottom: 10px;
}

.card p{
  font-weight: 500;
  margin: 1px
} 