.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0%;
}

.paginationPage {
    border : 0;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.paginationPage:hover {
    border : 0;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color: white;
    background-color: darkgrey;
}

.paginationCurrentPage {
    border : 0;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-color: darkgrey;
}