.CatalogueParent {
    display: grid inline;
    grid-template-columns: fit-content(0.3fr) 1fr;
    grid-template-rows: fit-content(0.1fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.filtersList{
    grid-area: 1 / 1 / 3 / 2;

}

.filtersList ul{
    list-style: none;
    text-align: left;
    margin-top: 50px;
    padding: 0 0 0 0;
    margin-right: 20px;
}

.filtersApplied{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: 1 / 2 / 2 / 3;
    align-items: flex-start;
    height: 40px
}

.filtersApplied p{
    margin-left: 10px;
}


.cardsPagination{
    grid-area: 2 / 2 / 3 / 3;
}

.CatalogueCards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    width: 70vw;
}

