.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtersApplied{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.filter{
    margin-right: 5px;
}
