.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px 10px 30px;
}

.filtersApplied{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.filter{
    margin-right: 5px;
}
