.UserAccCompContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    position: absolute;
    left:30%;
    top: 15%;
    width: 500px;
}

.UserAccCompContainer h1{
    margin-bottom: 20px;
}

.UserAccCompItem {
    width: 400px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px
}

.UserAccCompItem p {
    color: red
}

.UserAccCompAbout {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;

}

.UserAccCompAbout textarea {
    width: 300px;
    resize: none;
    position:relative;
    left: 18%;

}


.UserAccCompContainer input{
    width: 300px;
    position:absolute;
    left: 45%;

}

.UserAccCompItem button{
    height: fit-content;
    position:absolute;
    right: 0px;
}

.submitProfile{
    margin-top: 20px;
}

.imgUpContainer{
    display: flex;
}

.showPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-bottom: 10px;
}

.showPassword button{
    position: relative;
    left: 270%;
}

.imgUpload{
    cursor: pointer;
}

.popupDelete{
    background-color: rgba(255, 0, 0, 0.297);
    display: flex;
    flex-direction: column;
}
.popupDelete button{
    background-color: rgba(255, 0, 0, 0.297);
}

.btnForm{
    margin: 30px;
}