.UserAccCompContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    position: absolute;
    left:35%;
    top: 150px;
    width: 500px
    
}

.UserAccCompContainer h1{
    margin-bottom: 20px;
}

.UserAccCompItem {
    width: 400px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px
}


.UserAccCompContainer input{
    width: 200px;
    position:absolute;
    left: 45%;

}

.UserAccCompItem button{
    height: fit-content;
    position:absolute;
    right: 0px;
}