.nav{
  background-color:rgba(211, 25, 25, 0.087) ;
  display: flex;
  padding-left: 5%;
  height: 92px;
  margin-bottom: 50px;

}

.logo{
  height: 92px;
  width:200px;
  object-fit: contain;
  max-width: none;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0px 0px 0px 0px;
}

.nav li{
  width: 100px;
  padding: 0px 0px 0px 0px;


}



.nav a{

  align-items: center;
  align-self: center;
  align-content: center;

}

.nav .anchor{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: .25rem;
  font-style: oblique;
  font-size: medium;
  padding: 0px 0px 0px 0px;
  justify-content: center;
}



.itemsCart{
  padding: 0;
  margin-bottom: -15px;
}

.cart{
  height: 50px;
  width: 50px;
  border-radius: 3%;
  margin-top: 15px;

}

.nav li:hover{
  background-color: #777;
}

.nav img{
  align-self: center;
}

.desplegable{
  z-index: 100;
  padding: 0 0 0 0;
}

