*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.nav{
  background-color:#333 ;
  color:antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.logo{
  height: 50px;
  width:50px;
  object-fit: cover;;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav .anchor{
  color: inherit;
}