

.nav{
  background-color:rgba(211, 25, 25, 0.087) ;
  display: flex;
  padding-left: 100px;
  height: 92px;
  margin-bottom: 50px;
}

.logo{
  height: 92px;
  width:200px;
  object-fit: contain;
  max-width: none;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav .anchor{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.itemsCart{
  padding: 0;
  margin-bottom: -15px;
}

.cart{
  height: 50px;
  width: 50px;
  background-color: antiquewhite;
  border-radius: 3%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 15px;
  padding: 5px;
  border-radius: 50%;
  max-width: none;
}

.cart:hover{
  background-color: rgb(249, 216, 173);
}

.nav li.active{
  background-color: #555;
}

.nav li:hover{
  background-color: #777;
}

.desplegable{
  z-index: 100;
  margin-top: -15px;
}